@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.nav {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #a5a58d;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav__logo {
  display: flex;
  align-items: center;
  color: #ffe8d6;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}
.nav__logo img {
  width: 90px;
  padding: 15px;
  display: block;
  object-fit: cover;
}
.nav__link a {
  color: #ffe8d6;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 2rem;
  box-shadow: 2px 2px 10px #ddbea9;
  margin: 20px;
  border-radius: 5px;
}
.nav__link a:hover {
  color: #ddbea9;
}
.nav__icon {
  display: none;
}
.nav__checkbox {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    max-width: 768px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .nav__links {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__link {
    position: fixed;
    top: 80px;
    right: 0;
    background: #a5a58d;
    height: 100%;
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(100%);
    transition: 0.4s transform;
  }
  .nav__logo img {
    width: 100px;
  }
  .nav__link a {
    font-size: 3rem;
  }
  .nav__icon {
    display: block;
    cursor: pointer;
  }
  .nav__icon--img {
    display: block;
    width: 35px;
    margin-right: 20px;
    color: #ffe8d6;
  }
  .nav :checked + * {
    transform: translate(0);
  }
}
/* @media (max-width: 550px){
    .nav{
        width: 100%;
        max-width: 100%;
        &__link a {
        font-size: 1.5rem;
    }
}
} */
.header {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #cb997e78, #b7b7a486), url(/assets/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.1px;
  position: relative;
}
.header__text {
  text-align: center;
  margin-top: 350px;
  color: #a5a58d;
  -webkit-text-stroke: 1px #ffe8d6;
}
.header__title {
  font-size: 7rem;
}
.header__wave {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 3.5rem;
  }
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
}

.one-section__title {
  color: #6b705c;
}
.one-section__title h1 {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
  text-decoration: underline;
}
.one-section__title p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 15px 0;
}

.two-section__title {
  font-size: 4rem;
  font-weight: 400;
  margin: 40px 0;
  -webkit-text-stroke: 2px #cb997e;
  color: #a5a58d;
  text-decoration: underline;
  text-align: center;
}
.two-section__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}
.two-section__video video {
  width: 450px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}
.two-section__video p {
  font-size: 1.6rem;
  color: #6b705c;
  margin: 10px 0;
}
.two-section__video a {
  text-decoration: none;
  color: #6b705c;
  font-size: 1.3rem;
}
.two-section__cta a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ddbea9;
  margin-top: 20px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  color: #6b705c;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .two-section__video video {
    width: 280px;
    height: 180px;
  }
}
@media (max-width: 550px) {
  .two-section__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lobster", cursive;
  background: #ffe8d6;
  height: 1200px;
  width: 100%;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
