@use 'color';

.arrow{
    /* background: color.$threeColor; */
    padding: 10px;
    font-size: 50px;
    position: fixed;
    border-radius: 6px;
    bottom: 70px;
    right: 40px;
    align-items: center;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: color.$fiveColor;
}

::-webkit-scrollbar-thumb{
    background: color.$oneColor;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: color.$twoColor;
}

@media (max-width: 768px){
    
    .arrow{
        right: 20px;
}
}
@media (max-width: 550px){
    
    .arrow{
        right: 5px;
}
}