@use 'color';

.one-section{
    &__title{
        color: color.$oneColor;
    }

    &__title h1{
        font-size: 3rem;
        text-align: center;
        margin: 20px 0;
        text-decoration:underline
    }

    &__title p{
        font-size: 1.5rem;
        text-align: justify;
        margin: 15px 0;
    }
}