@use 'color';
@use 'nav';
@use 'header';
@use 'oneSection';
@use 'container';

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Lato', sans-serif; */
   /*  font-family: 'Gwendolyn', cursive; */
   font-family: 'Lobster', cursive;
    background: color.$fourColor;
    height: 1200px;
    width: 100%;
    max-width: 100%;
}

